<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Http Client
    </NavLink>
        <NavLink class="nav-link" href="publisher" Match="NavLinkMatch.All">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Http Publisher
        </NavLink>
    <NavLink class="nav-link" href="counter">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
    </NavLink>
</div>