@page "/"
@namespace Weikio.EventFramework.Samples.Client.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Weikio.EventFramework.Samples.Client</title>
    <base href="~/"/>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app>
                <component type="typeof(App)" render-mode="ServerPrerendered"/>
            </app>
        </div>
    </div>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>