@page
@using Weikio.EventFramework.Abstractions
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.CloudEvent != null)
{
    <p>Cloudevent published: @Model.CloudEvent.Id</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <input type="submit" value="Send"/>
</form>

<form method="post" asp-page-handler="Customer">
    <input type="submit" value="Send Customer"/>
</form>

<form method="post" asp-page-handler="createChannel">
    <input type="submit" value="Create"/>
</form>

<form method="post" asp-page-handler="CreateInstance">
    <input type="submit" value="CreateInstance"/>
</form>

@foreach (var ev in IndexModel.ReceivedEvents)
{
    var json = ev.ToJson();
    <pre>@json</pre>
}